---
---

<div>
	<main class="prose">
			<h1>
				Analytics examples
			</h1>

			<h2>Google Analytics</h2>
			<ul>
				<li><a href="/ga/gtag">using gtag.js</a></li>
				<li><a href="/ga/gtm3p">third-party GTM</a></li>
				<li><a href="/ga/gtm1p">first-party GTM</a></li>
			</ul>
		</main>

</div>

